<html>

<head>
  <meta charset="utf-8"/>
  <title>Max Holder</title>
  <link rel="stylesheet" href="<%= path_to("css/tufte.css") %>"/>
  <link rel="stylesheet" href="<%= path_to("css/style.css") %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= @content %>
  <footer>
    <p>
      Site generated with
      <a href="https://github.com/mxhold/tufte-blog">tufte-blog</a>.
    </p>
  </footer>
</body>

</html>
